{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="design">
        <div class="row">
          <div class="sm-full-width md-one-third">
            <a href="{{ TimberImage(post.image_1).src|resize(0, 1500) }}" class="image image-gallery">
              <div class="img-wrap">
                <img src="{{ TimberImage(post.image_1).src('large') }}">
              </div>
            </a>
          </div>
          {% if post.image_2 is not empty %}
          <div class="sm-full-width md-one-third">
            <a href="{{ TimberImage(post.image_2).src|resize(0, 1500) }}" class="image image-gallery">
              <div class="img-wrap">
                <img src="{{ TimberImage(post.image_2).src('large') }}">
              </div>
            </a>
          </div>
          {% endif %}
          <div class="sm-full-width md-one-third">
            <div class="design__collection">{{ fn('masore_get_post_collection', post.id).name }}</div>
            <h1 class="design__title">{{post.title}}</h1>
            <div class="design__price">
              <div class="label">Price:</div>
              <div>DKK {{ post.price }}</div>
            </div>
            <div class="design__color-options">
              <div class="label">Colors:</div>
              {% for i in 1..post.color_options %}
              {% if attribute(post, "color_" ~ i ~ "_fabric") is not empty %}
                <a href="{{ TimberImage(attribute(post, "color_" ~ i ~ "_fabric")).src('large') }}"
                   class="design__color-option image-fabric" title="{{ attribute(post, "color_" ~ i ~ "_name")|trim }}"
                   style="background-color: {{ attribute(post, "color_" ~ i) }}; background-image: url({{ TimberImage(attribute(post, "color_" ~ i ~ "_fabric")).src|resize(100) }});"></a>
              {% else %}
                <div class="design__color-option" title="{{ attribute(post, "color_" ~ i ~ "_name")|trim }}"
                     style="background-color: {{ attribute(post, "color_" ~ i) }};"></div>
              {% endif %}
              {% endfor %}
            </div>
            <p>{{ post.description }}</p>
            <p>Buy item please contact via email: <a href="mailto:contact@masore.com?subject={{post.title}}">contact@masore.com</a></p>
          </div>
        </div>
			</section>
		</article>
    <div class="pagination">
      <div class="row">
        {% set links = fn('masore_adjacent_designs') %}
        <div class="sm-one-half previous-link">
          {% if links.prev is not empty %}
            <span>&lt;&lt; <a href="{{ links.prev.link }}" rel="prev">{{ links.prev.post_title }}</a></span>
          {% else %}
            <span class="inactive">&lt;&lt; previous</span>
          {% endif %}
        </div>
        <div class="sm-one-half next-link">
          {% if links.next is not empty %}
            <span><a href="{{ links.next.link }}" rel="next">{{ links.next.post_title }}</a> &gt;&gt;</span>
          {% else %}
            <span class="inactive">next &gt;&gt;</span>
          {% endif %}
        </div>
      </div>
    </div
	</div><!-- /content-wrapper -->
{% endblock %}
