{% extends "base.twig" %}

{% set body_class = [body_class, 'collection']|join(' ') %}

{% block content %}
  <div class="content-wrapper">
    <div class="collection__lead">Collection</div>
    <h1 class="collection__title">{{ term.name }}</h1>
    <div class="row">
      {% for post in posts %}
      <div class="sm-one-half md-one-fourth">
        <div class="design-teaser">
          <a href="{{ post.link }}">
            <div class="img-wrap">
              <img src="{{ TimberImage(post.image_1).src('large') }}" alt="Image for {{post.title}}">
            </div>
          </a>
          <a href="{{ post.link }}" class="design-teaser__title">{{ post.name }}</a>
        </div>
      </div>
      {% else %}
      <span>No designs</span>
      {% endfor %}
    </div>
	</div><!-- /content-wrapper -->
{% endblock %}
